<div class="row" ng-controller="chart.LineChartCtrl">
	<!-- <h3><center><strong>Time Series</strong></center></h3> -->
	<div ng-if="lineChart.showGraph && (lineChart.graphHeight <= 350)">
		<div google-chart chart="lChart.catalogItemChart" ></div>
	</div>
	<div style="overflow-y: scroll; overflow-x: hidden; width: 600px; height: 350px;" ng-if="lineChart.showGraph && (lineChart.graphHeight > 350)">
		<div google-chart chart="lChart.catalogItemChart" ></div>
	</div>
	<div ng-if="!lineChart.showGraph">
		<center> -  No Data  - </center> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>